.wish-component {
  display: flex;
  padding: 16px;

  .image {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .content {
    display: flex;
    flex-flow: column;
    margin-left: 20px;
    width: 100%;
  }

  .name {
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
  }

  .player {
    margin-top: 10px;
  }
}