.audio-player-component {
  width: 100%;

  .player {
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .row {
    display: flex;
  }

  .action-button {
    width: 30px;
    height: 30px;
    display: flex;
    border: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: darkgrey;
    }
  }

  .play-icon {
    width: 100%;
    height: 100%;
  }

  .info {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
  }

  .time-wrapper {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
  }

  .volume-wrapper {
    display: flex;
    align-items: center;
  }

  .current-volume {
    font-size: 10px;
  }
  
  .volume-icon {
    width: 100%;
  }
}