<div class="audio-player-component">
  <div class="player">
    <div class="row">
      <button class="action-button" id="play-button">
        <img class="play-icon">
      </button>
      <div class="time-wrapper">
        <input type="range" id="time" value="0">
        <div class="info">
          <div class="current-time">00:00</div>
          <div class="total-time">00:00</div>
        </div>
      </div>
    </div>
    <div class="volume-wrapper" >
      <button class="action-button" id="volume-button">
        <img class="volume-icon">
      </button>
      <input type="range" id="volume" min="0" max="100" step="0">
      <span class="current-volume">0%</span>
    </div>
  </div>
</div>