@import '../../styles/vars.scss';

.selected-answer-component {
  display: flex;
  flex-flow: row wrap;

  .row {
    display: flex;
    width: 100%;
  }

  .image-wrapper {
    display: flex;
  }

  .image {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
  }

  .content {
    flex-grow: 1;
    margin-left: 20px;
  }

  .name {
    font-size: 22px;
  }

  .description {
    width: 100%;
    margin-top: 22px;
  }


  .delimiter {
    margin: 10px 0;
    height: 2px;
    background-color: #ddd;
  }

  @media (max-width: $xs) {
    
    .row {
      flex-flow: column;
    }

    .content {
      margin-left: 0;
      margin-top: 16px;
    }

    .image {
      width: 100%;
    }

    .description {
      margin-top: 10px;
    }
  }
}